body {
  font-family: sans-serif;
  background-image: url("https://i.pinimg.com/originals/01/7f/42/017f429761cac6436139e0cf75f16c5d.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.note {
  height: 100%;
  width: 50px;
  background: white;
  float: left;
  border-right: 1px solid black;
  position: relative;
  border-radius: 50%;

}

.sharp {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background: black;
  left: 68%;
}

iframe {
  position: absolute;
  top: 0;
  right: 0;
  width:40vw;
  height:20vw;
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 150px;
  padding: 50px;
  margin: 40px;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 5px 10px #cc7000;
  border: none
}

