body {
  font-family: sans-serif;
}

.note {
  height: 100%;
  width: 50px;
  background: white;
  float: left;
  border-right: 1px solid black;
  position: relative;
  border-radius: 50%;

}

.sharp {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background: black;
  left: 68%;
}
